<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 well text-center">

			<form action="/news/update" method="POST">
				<div class="col-md-6"><%= news.id %>
					<hr>
					<input class="form-control" type="text" name="title"  value="<%= news.title %>"><hr><%= news.infotext %>
					<input rows="3" class="form-control" name="infotext"
					value="<%= news.infotext %>"></input>
				</div>

				<div class="col-md-10"><%= news.content %>

					<input rows="7" class="form-control" name="content"  value='<%= news.content %>'></input>
				</div>
				<div class="col-md-10"><%= news.autor %>
				<input class="form-control" type="text" name="autor" value="<%= news.autor %>">
				<hr>
				<input class="form-control" type="text" name="Data"  value="<%= news.data %>">
			</div>
			<hr>
				<div class="col-md-12">

					<br><input type="submit" class="btn btn-success" value="UPDATE" />
				</div>
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
