<div class="container text-center">
	<h2>Add news</h2><br>
	<div class="row">
		<form action="/news/create" method="POST">
			<div class="col-md-6">
				<input class="form-control" type="text" name="title" placeholder="Title News"><hr>
				<textarea rows="3" class="form-control" name="infotext" placeholder="Short text"></textarea>
			</div>
			<div class="col-md-10">
				<textarea rows="7" class="form-control" name="content" placeholder="Content"></textarea>
			</div>
			<div class="col-md-10">
			<input class="form-control" type="text" name="autor" placeholder="Autor">
			<hr>
			<input class="form-control" type="text" name="Data" placeholder="data">
		</div>
		<hr>
			<div class="col-md-12">

				<br><input type="submit" class="btn btn-success" value="CREATE" />
			</div>
		</form>
	</div><br>
	<h2>News LIST</h2>
	<table class="table text-left">
		<tr>
			<th>ID</th>
			<th>TITLE</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% _.each(posts, function (news) { %>
			<tr>
				<td><%= news.id %></td>
				<td><%= news.title %></td>
				<td><a href="/news/watch/<%= news.id %>" class="btn btn-info">Look</a></td>
				<td><a href="/news/delete/<%= news.id %>" class="btn btn-danger">Delete</a></td>
				<td><a href="/admin/edit/<%= news.id %>" class="btn btn-warning">Edit</a></td>
			</tr>
		<% }) %>
	</table>
</div>
