<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 well text-center">

			<form action="/track/create" method="POST"
				<div class="col-md-6">Title
					<input class="form-control" type="text" name="title"value="<%= track.title %>"><hr>
					Infotext
					<textarea rows="3" class="form-control" name="infotext" value="<%= track.infotext %>"></textarea>
				</div>
				<div class="col-md-10">
					<textarea rows="7" class="form-control" name="interpret" value="<%= track.interpret %>"></textarea>
				</div>
				<div class="col-md-10">
				<input class="form-control" type="text" name="price" value="<%= track.price %>">
				<input class="form-control" type="text" name="cover" value="<%= track.cover %>">
				<hr>
				<input class="form-control" type="text" name="linkD" value="<%= track.linkD %>">
				<input class="form-control" type="text" name="linkDshort" value="<%= track.linkDshort %>">
			</div>
			<hr>
				<div class="col-md-12">

					<br><input type="submit" class="btn btn-success" value="UPDATE" />
				</div>
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
