<div class="artical-content">
<h3><%= track.title %></h3>
<div id="msProduct" class="row">
	<div class="span5 col-md-5">
		<div id="msGallery">
	<a rel="fancybox" href="/cover/<%= track.cover %>" target="_blank">
		<img src="/cover/<%= track.cover %>" width="360" height="270" alt="" title="" id="mainImage">
          </a>
	<div class="row">
		<div class="span2 col-md-2">
	<a href="/cover/<%= track.cover %>" class="thumbnail" >
		<img src="/cover/<%= track.cover %>" alt="" title="<%= track.interpret %>" width="120" height="90">
	</a>
</div>
	</div>
</div>
	</div>
	<div class="span7 col-md-7">
		<form class="form-horizontal ms2_form" method="post">
			<input type="hidden" name="id" value="36">

			<div class="form-group">
				<label class="col-sm-2 control-label">Price:</label>
				<div class="col-sm-3">
					<label class="checkbox">
						<%= track.price %> USD

					</label>
				</div>
			</div>
			<div class="form-group form-inline">
				<label class="col-sm-2 control-label" for="product_price">Quantity:</label>
				<div class="col-sm-3">
					<input type="number" name="count" id="product_price" class="input-sm form-control" value="1">
					pcs.
				</div>
			</div>





			<div class="form-group">
				<div class="col-sm-3">
					<button type="submit" class="btn btn-default" name="ms2_action" value="cart/add"><i class="fa fa-barcode" aria-hidden="true"></i> Add to cart</button>
				</div>
			</div>
		</form>
		<audio controls>
		  <source src="/mp3/<%= track.linkDshort %>" type="audio/mpeg">
		  Your browser does not support the audio element.
		</audio>
	</div>
</div>
</div>
